<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">上海出发国际航班机票</h4>
                        <p class="card-category">1个月内上海出发——点关注,如有低价机票可以第一时间获得低价通知信息</p>
                    </div>
                    <div class="card-body">
                        <tickets></tickets>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>