<footer style="padding-top: 2rem">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex.xs="90" fxFlex.gt-xs="63" fxFlex.gt-sm="55" >
            <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
                <div>
                    <a href="#" class="h6 text-black">
                        上海软件
                    </a>
                </div>
                <div>
                    <a href="#" class="h6 text-black">
                        关于我们
                    </a>
                </div>
                <div>
                    <a href="#" class="h6 text-black">
                        Blog
                    </a>
                </div>
                <div>
                    <a href="#" class="h6 text-black">
                        divcenses
                    </a>
                </div>
            </div>
        </div>
        <div fxFlex.xs="90" fxFlex.gt-xs="63" fxFlex.gt-sm="55" style="padding-top: 1rem"><h6>
            &copy;
            {{test | date: 'yyyy'}}, made with love by for a better web.</h6>
        </div>
    </div>
</footer>
