<div class="main-content">
    <div class="container-fluid">
        <mat-card style="padding: 0">
            <mat-grid-list cols="5" rowHeight="5rem">
                <mat-grid-tile [colspan]="2"></mat-grid-tile>
                <mat-grid-tile [colspan]="1">
                    <button mat-mini-fab color="warn" style="margin:0 auto;" (click)="toggle(panel1)"><mat-icon>add</mat-icon></button>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-expansion-panel class="mat-elevation-z0" #panel1> 
                <mat-form-field>
                    <input matInput placeholder="标题" [(ngModel)]="article.title" type="text">
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="内容" [(ngModel)]="article.content"></textarea>
                    <button mat-mini-fab matSuffix color="warn" (click)="post(panel1)"><mat-icon>done</mat-icon></button>
                </mat-form-field>
            </mat-expansion-panel>
        </mat-card>

        <posts [level]=0 #postRef></posts>

    </div>
</div>