<div class="main-content">
    <div class="container-fluid">
        <mat-card style="padding: 0; text-align: center;">
            <div style="padding:0.5rem">
                <button mat-icon-button   (click)="toggle(panel1)" class="large" color="warn"><mat-icon >not_listed_location</mat-icon></button>
            </div>
            <mat-expansion-panel class="mat-elevation-z0" #panel1> 
                <mat-form-field>
                    <input matInput placeholder="标题" [(ngModel)]="article.title" type="text">
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="内容" class="h6" [(ngModel)]="article.content"></textarea>
                    <button mat-icon-button matSuffix color="warn" class="small" (click)="post(panel1)"><mat-icon>where_to_vote</mat-icon></button>
                </mat-form-field>
            </mat-expansion-panel>
        </mat-card>

        <posts [level]=0 #postRef></posts>

    </div>
</div>