
<mat-nav-list>
    <div fxLayout="row" fxLayoutAlign="center center" style="height: 10rem; border: 1px">
        <button mat-icon-button  color="warn" class="xlarge"><mat-icon >person_pin_circle</mat-icon></button><h4>老司机</h4>
    </div>
    <a mat-list-item routerLinkActive="router-link-active" class="router-link-inactive"  [routerLinkActiveOptions]="{exact: true}" *ngFor="let menuItem of menuItems" [routerLink]="[menuItem.path]">
        <mat-icon>{{menuItem.icon}}</mat-icon>
        <p style="padding-left: 1rem">{{menuItem.title}}</p> 
    </a>
</mat-nav-list>