<mat-sidenav-container  fullscreen>
    <mat-sidenav  #sidenav [(mode)]="over" [(opened)]="opened" >
        <div class="background" style="background-image: url(http://app.justitbe.com:8999/asset/assets/img/sidebar-4.jpg);"></div>
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content >
        <div fxLayout="column">
            <app-navbar fxFlex="5rem"></app-navbar>
            <div fxFill>
                <router-outlet ></router-outlet>
            </div>
            <app-footer fxFlex="5rem"></app-footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<dialogs></dialogs>